In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
df = np.load('/zhome/b0/3/214044/Project_NEW/DeepLearning-P24/P12data/split_1/train_physionet2012_1.npy', allow_pickle = True)

In [6]:
keys = df[0].keys()

for key in keys:
    print(f'{key}: {df[0][key].shape}')

ts_values: (74, 37)
ts_indicators: (74, 37)
ts_times: (74,)
static: (8,)
labels: ()

In [16]:
maxim = 0
for i in range(len(df)):
    temp_len = df[i]['ts_values'].shape[0]
    if temp_len > maxim:
        maxim = temp_len

In [17]:
maxim

215

In [2]:
def get_prime_factors(n):
    """Returns the prime factors of a given number."""
    prime_factors = []
    # Divide by 2 until n is odd
    while n % 2 == 0:
        prime_factors.append(2)
        n //= 2
    
    # Check for odd factors from 3 onwards
    factor = 3
    while factor * factor <= n:
        while n % factor == 0:
            prime_factors.append(factor)
            n //= factor
        factor += 2
    
    # If n is still greater than 2, it is prime
    if n > 2:
        prime_factors.append(n)
    
    return prime_factors

# Example usage
number = 56
print(f"Prime factors of {number}: {get_prime_factors(number)}")

Prime factors of 56: [2, 2, 2, 7]

In [3]:
get_prime_factors(2304)

[2, 2, 2, 2, 2, 2, 2, 2, 3, 3]

In [11]:
for i in range(len(df)):
    if df[i]['ts_values'].shape[0]==207:
        print(i)

1646

In [13]:
df[0]['ts_values']

array([[ 1.04850105,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.41727864,  0.        ],
       [ 1.0080015 ,  0.        ,  0.        , ..., -0.11827794,
         0.        ,  0.        ],
       [ 1.0080015 ,  0.        ,  0.        , ..., -0.11827794,
         0.        ,  0.        ]])

In [15]:
df[1646]

{'ts_values': array([[-0.26773423,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        , -0.0053984 ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        , -0.02023282],
        ...,
        [ 0.9310523 ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.9310523 ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.9310523 ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ]]),
 'ts_indicators': array([[ True, False, False, ..., False, False, False],
        [False, False, False, ..., False, False,  True],
        [False, False, False, ..., False, False,  True],
        ...,
        [ True, False, False, ..., False, False, False],
        [ True, False, False, ..., False, False, False],
        [ True, False, False, ..., False, False, False]]),
 'ts_times': array([ 0.        ,  0.06666667,  0.8833333 ,  1.2       ,  2.        ,
         2.6333334 ,  3.4166667 ,  4.        ,  4.4166665 ,  4.85      ,
         5.1833334 ,  5.366667  ,  5.7166667 ,  5.9666667 ,  6.2       ,
         6.8       ,  7.3       ,  7.616667  ,  7.7166667 ,  7.8333335 ,
         8.5       ,  8.75      ,  8.816667  ,  9.        ,  9.083333  ,
         9.2       ,  9.333333  ,  9.5       ,  9.633333  ,  9.65      ,
         9.75      ,  9.816667  , 10.        , 10.2       , 10.266666  ,
        10.5       , 10.666667  , 11.        , 11.183333  , 11.5       ,
        11.583333  , 11.666667  , 11.683333  , 11.75      , 11.916667  ,
        12.        , 12.25      , 12.45      , 12.5       , 12.683333  ,
        12.75      , 13.        , 13.25      , 13.266666  , 13.5       ,
        13.75      , 13.95      , 14.        , 14.25      , 14.266666  ,
        14.316667  , 14.5       , 14.75      , 15.        , 15.25      ,
        15.5       , 15.75      , 15.916667  , 16.        , 16.25      ,
        16.5       , 16.75      , 16.816668  , 16.866667  , 16.916666  ,
        17.        , 17.25      , 17.5       , 17.666666  , 17.75      ,
        18.        , 18.25      , 18.5       , 18.7       , 18.75      ,
        19.        , 19.25      , 19.333334  , 19.5       , 19.7       ,
        19.75      , 20.        , 20.25      , 20.366667  , 20.5       ,
        20.75      , 21.        , 21.166666  , 21.25      , 21.5       ,
        21.75      , 21.866667  , 22.        , 22.016666  , 22.166666  ,
        22.25      , 22.5       , 22.666666  , 22.75      , 23.        ,
        23.25      , 23.383333  , 23.5       , 23.75      , 24.        ,
        24.116667  , 24.25      , 24.3       , 24.383333  , 24.5       ,
        24.75      , 25.        , 25.233334  , 25.3       , 25.5       ,
        25.666666  , 26.        , 26.5       , 27.        , 27.016666  ,
        27.5       , 28.        , 28.466667  , 28.5       , 28.716667  ,
        29.        , 29.066668  , 29.5       , 29.75      , 29.95      ,
        30.        , 30.066668  , 31.        , 31.116667  , 32.        ,
        32.5       , 32.75      , 33.        , 33.133335  , 33.25      ,
        33.5       , 33.683334  , 33.75      , 34.        , 34.133335  ,
        34.25      , 34.5       , 34.583332  , 34.75      , 34.833332  ,
        34.866665  , 35.        , 35.25      , 35.5       , 35.566666  ,
        35.75      , 35.866665  , 35.966667  , 36.        , 36.25      ,
        36.5       , 36.75      , 37.        , 37.333332  , 37.716667  ,
        38.        , 38.333332  , 38.5       , 38.95      , 39.        ,
        40.        , 40.5       , 40.8       , 41.        , 41.2       ,
        41.5       , 41.75      , 41.8       , 42.        , 42.25      ,
        42.366665  , 42.5       , 42.75      , 43.        , 43.366665  ,
        43.416668  , 43.5       , 43.983334  , 44.        , 44.783333  ,
        45.        , 45.666668  , 45.783333  , 46.        , 46.25      ,
        46.333332  , 46.416668  ], dtype=float32),
 'static': array([-1.66806834,  0.        ,  1.        ,  0.91650846,  0.        ,
         1.        ,  0.        ,  0.        ]),
 'labels': 1}

In [14]:
df[1646]['ts_values'].shape

(207, 37)

In [2]:
207/9

23.0

In [8]:
df[0]['ts_indicators']

array([[ True, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False,  True, False],
       [ True, False, False, ...,  True, False, False],
       [ True, False, False, ...,  True, False, False]])